@font-face {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;

    src: url('../font/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../font/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../font/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('../font/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'iconfont';

    src: url('../font/iconfont/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../font/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
    content: '\e600';
}
.icon-browser:before {
    content: '\e601';
}
.icon-email:before {
    content: '\e603';
}
.icon-iphone:before {
    content: '\e604';
}
.icon-github:before {
    content: '\e606';
}

body {
    font-family: 'Lato', 'Microsoft Yahei', sans-serif;
    font-size: 18px;

    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;

    color: #4d4d4d;
    background-color: #f2f2f2;
}

h1 {
    font-size: 2.7em;

    margin: 40px 0;

    letter-spacing: 10px;
}

h2 {
    font-size: 2em;

    margin: 18px 0;
}

h3 {
    font-size: 1.2em;
}

a {
    padding-bottom: 2px;

    transition: color .8s linear, border-bottom .8s linear;
    text-decoration: none;

    color: #4d4d4d;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: #aaa;
    border-bottom: 2px solid #aaa;
}

.page {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 10%;

    align-items: center;
}

.row,
.col {
    display: flex;

    flex: 1;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 960px;
}

.col {
    flex-direction: column;
}

.cell {
    display: flex;

    flex: 1;
    align-items: center;
}

.col .cell {
    flex-direction: column;

    justify-content: center;
}

#avatar {
    display: block;

    border: 8px solid #4d4d4d;
    border-radius: 50%;
}

#page1 p {
    font-size: 1.2em;

    margin-bottom: 30px;
}

#page2 .icon {
    display: flex;

    justify-content: center;
    flex: 1;
}

#page2 .icon a {
    display: block;

    width: 100px;
    height: 100px;
    padding-bottom: 0;

    text-align: center;

    border-bottom: none;
    border-radius: 50%;
    background: #dadada url(../images/sprite.png);
}

#page2 #repository {
    background-position: -204px 0;
}

#page2 #sayu {
    background-position: -306px 0;
}

#page2 #jzoom {
    background-position: -102px 0;
}

#page2 #cclock {
    background-position: 0 0;
}

#page2 .info {
    text-align: justify;

    flex: 2;
}

#page2 .info p {
    line-height: 1.2em;

    margin-top: 15px;
}

.github {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    line-height: 23px;

    margin-top: 10px;
    padding: 0 10px;

    color: #333;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background: linear-gradient(to bottom, #fcfcfc, #ddd);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

.github .iconfont {
    font-size: 20px;
}

.github:hover {
    border-color: #ccc;
    background: linear-gradient(to bottom, #eee, #ddd);
    color: #333;
    border-width: 1px;
}

.github:active {
    border-color: #b5b5b5;
    background-color: #dcdcdc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
}

#page3 p {
    margin-bottom: 30px;
}

#page3 p:last-child {
    margin-bottom: 0;
}

#page3 .skill {
    line-height: 24px;

    display: inline-block;

    padding: 2px 8px;

    color: #f2f2f2;
    border-radius: 3px;
    background-color: #4d4d4d;
}

#page3 .banner {
    display: inline-block;

    width: 12px;
    height: 10px;
    margin: 0 -5px;

    background-color: #000;
}

.lv3 {
    opacity: 1;
}

.lv2 {
    opacity: .8;
}

.lv1 {
    opacity: .6;
}

#page4 h3 {
    font-size: 1.5em;
}

#page4 p {
    font-size: 1.3em;

    margin-top: 25px;
}

#page5 .cell {
    align-items: flex-start;
}

#page5 p {
    margin-top: 35px;
}

#page5 .icon {
    display: inline-block;

    padding-bottom: 0;

    vertical-align: -3px;

    border-bottom: none;
}

#page5 .iconfont {
    font-size: 30px;

    margin-right: 15px;
}

#page5 .info {
    font-size: 1.2em;

    display: inline-block;
}

#download {
    font-size: 1.4em;
    font-weight: bold;

    display: block;

    margin: 40px auto 0;
}

#nav {
    position: fixed;
    top: 45%;
    right: 2.5%;

    width: 25px;
}

#nav li {
    width: 8px;
    height: 8px;
    margin: 8px auto;
}

#nav a {
    display: block;

    height: 100%;

    border: 1px solid #4d4d4d;
    border-radius: 50%;
}

#nav .active {
    background-color: #4d4d4d;
}

/*移动端*/

/* iPad */
@media screen and (min-width: 450px) and (max-width: 770px) and (min-height: 800px) {
    body {
        font-size: 24px;
    }

    .page {
        padding: 25% 5%;
    }

    #page2 {
        padding: 10% 0;
    }

    #page2 .row {
        flex-direction: column;

        padding-right: 10%;
    }

    #page2 .row .cell {
        width: 100%;
    }

    .github {
        transform: scale(1.5,1.5);
    }

    #page3 .skill {
        line-height: 30px;

        height: 30px;
    }
}

/* iPhone6 and iPhone6 Plus */
@media screen and (max-width: 450px) {
    .page {
        padding: 30% 5%;
    }

    #page2 {
        padding: 10% 0;
    }

    #page2 .row {
        flex-direction: column;

        padding-right: 6%;
    }

    .github {
        transform: scale(1.3,1.3);
    }

    #nav {
        right: 0;
    }
}

/* iPhone6 and iPhone6 Plus fixed */
@media screen and (max-width: 450px) and (max-height: 600px) {
    #page2 {
        padding: 0 0 6%;
    }
}

/* iPhone5 */
@media screen and (max-width: 320px) {
    body {
        font-size: 16px;
    }

    #page2 {
        padding: 10% 0 8%;
    }

    #page2 .row {
        padding-right: 8%;
    }

    #page2 .icon a {
        width: 80px;
        height: 80px;
    }

    #page2 #repository {
        background-position: -214px -10px;
    }

    #page2 #sayu {
        background-position: -316px -10px;
    }

    #page2 #jzoom {
        background-position: -112px -10px;
    }

    #page2 #cclock {
        background-position: -10px -10px;
    }

    #page2 .info p {
        margin-top: 5px;
    }

    .github {
        transform: scale(1.1,1.1);
    }

    #page3 p {
        margin-bottom: 10px;
    }

    #page3 p:last-child {
        margin-bottom: 0;
    }
}

/* iPhone4 */
@media screen and (max-width: 320px) and (max-height: 480px) {
    body {
        font-size: 14px;
    }

    .page {
        padding: 20% 0;
    }

    #page2 {
        padding: 6% 0 4%;
    }

    .github {
        transform: scale(.9,.9);
    }
}

/* iPhone4 fixed */
@media screen and (max-width: 320px) and (max-height: 450px) {
    #avatar {
        display: none;
    }

    #page2 .row {
        padding: 0 12%;
    }

    #page2 .icon {
        display: none;
    }

    #page2 .info {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
}

/*桌面端*/

/*窄屏*/
@media screen and (min-width: 450px) and (max-width: 720px) and (min-height: 640px) {
    #page2 {
        padding: 10% 0;
    }

    #page2 .row {
        flex-direction: column;

        padding-right: 8%;
    }

    #page2 .row .cell {
        width: 100%;
    }

    .github {
        transform: scale(1,1);
    }
}

/*宽屏*/
@media screen and (min-width: 1600px) {
    body {
        font-size: 26px;
    }

    #page3 .skill {
        line-height: 32px;

        height: 32px;
    }
}
